<div class="container mt-4">
    <h1>Data Binding</h1>
    <hr>
    <p> <b> Name : </b>{{contactInfo.name}}</p>
    <p> <b> Age : </b>{{contactInfo.age}}</p>
    <p> <b> Phone No. : </b>{{contactInfo.phone}}</p>
    <p> <b> Email : </b>{{contactInfo.email}}</p>
    <hr>
    <form>
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" [(ngModel)]="contactInfo.name" name="name" />
        </div>

        <div class="form-group">
            <label>Age</label>
            <input class="form-control" [(ngModel)]="contactInfo.age" name="age" />
        </div>

        <div class="form-group">
            <label>phone</label>
            <input class="form-control" [(ngModel)]="contactInfo.phone" name="phone" />
        </div>

        <div class="form-group">
            <label>Email</label>
            <input class="form-control" [(ngModel)]="contactInfo.email" name="email" />
        </div>

        <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
    </form>
</div>