<h1 class="mt-4">Albums</h1>
<div class="card-columns">
    <div class="card" *ngFor="let album of album">
        <div class="card-body">
            <h5 class="card-title">{{album.id}}</h5>
            <p class="card-text">{{album.title}}</p>
        </div>
    </div>
</div>