<h1 class="mt-4">Posts</h1>
<div class="card-columns">
    <div class="card" *ngFor="let post of posts">
        <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.body}}</p>
        </div>
    </div>
</div>